.button {
    position: relative;
    z-index: 20;
    display: block;
    width: 236px;
    height: 53px;
    background: #FFFFFF;
    box-shadow: 2px 9px 6px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    border: none;
    margin: 0 auto;
    margin-top: 106px;
    font-family: 'Arsenal', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    overflow: hidden;
    transition: background .3s;
    &:hover{
        background: #f1f1f1;
    }   
    &:focus {
        outline: none;
    }
    &:active{
        background: #fff;
    }
    &_sale {
        background: #00AFE9;
        border-radius: 31px;
        color: #FFFFFF;
        margin-top: 73px;
        &:hover{
            background: #0090c0;
        }   
        &:active {
            background: #00AFE9;
        }
        &_mobile{
            display: none;
        }
    }
    &_catalog {
        width: 180px;
        height: 43px;
        background: #00AFE9;
        border-radius: 31px;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 17px;
        &:hover{
            background: #0090c0;
        }   
        &:active {
            background: #00AFE9;
        }
    }
    &_about {
        margin-top: 63px;
        background: #00AFE9;
        color: #FFFFFF;
        &:hover{
            background: #0090c0;
        }   
        &:active {
            background: #00AFE9;
        }
    }
    &_product {
        margin: 0;
        margin-top: 81px;
        background: #00AFE9;
        color: #FFFFFF;
        &:hover{
            background: #0090c0;
        }   
        &:active {
            background: #00AFE9;
        } 
    }
    &_form {
        margin: 0;
        margin-top: 31px;
        background: #00AFE9;
        color: #FFFFFF;
        &:hover{
            background: #0090c0;
        }   
        &:active {
            background: #00AFE9;
        } 
    }
}

@media screen and(max-width: 991px){
    .button{
        &_about {
            margin-top: 30px;
        }
        &_sale{
            width: 180px;
            height: 44px;
            font-size: 14px;
            margin-top: 50px;
        }
    }
}

@media screen and(max-width: 575px){
    .button{
        &_sale {
            display: none;
            &_mobile{
                display: block;
                background: #00AFE9;
                box-shadow: 2px 9px 6px rgba(0, 0, 0, 0.25);
                border-radius: 31px;
                color: #FFFFFF;
                width: 236px;
                height: 53px;
                font-size: 16px;
                margin: 10px 0 30px 0;
            }
        }
        &_form {
            width: 236px;
            height: 53px;
            font-size: 16px;
        }
    }
}