.catalog {
    min-height: auto;
    background: url('../img/фон.png') center (center/cover) no-repeat;
    padding: 61px 0 154px 0;
    &__title {
        font-family: 'Marmelad', sans-serif;
        font-weight: normal;
        font-size: 48px;
        line-height: 57px;
        text-align: center;
        color: #000000;
    }
    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 19px;
    }
    &__item {
        position: relative;
        width: 324px;
        height: 538px;
        margin-top: 61px;
    }
    &__cart {
        position: relative;
        z-index: 20;
        width: 324px;
        height: 538px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 19px;
        overflow: hidden;
    }
    &__decor {
        position: absolute;
        top: -50px;
        right:-33px;
        z-index: 1;
        &_1 {
            position: absolute;
            z-index: 1;
            bottom: -55px;
            transform: rotate(180deg);
        }
        &_2 {
            position: absolute;
            z-index: 1;
            top: -55px;
            transform: rotate(-20deg);
        }
        &_3 {
            position: absolute;
            top: -40px;
            right:-60px;
            z-index: 1;
        }
        &_4 {
            position: absolute;
            z-index: 1;
            bottom: -25px;
            left: -60px;
            transform: rotate(160deg);
        }
    }
    &__img {
        display: block;
        margin: 0 auto;
        height: 310px;
    }
    &__product, &__cost {
        font-family: 'Arsenal', sans-serif;
        font-weight: bold;
        font-size: 30px;
        line-height: 38px;
        text-transform: capitalize;
        text-align: center;
        color: #000000;
        margin-top: 33px;
    }
    &__cost {
        margin-top: 0;
    }
    &__details {
        font-family: 'Arsenal', sans-serif;
        font-weight: bold;
        font-size: 15px;
        padding: 5px;
        line-height: 16px;
        font-variant: small-caps;
        color: #727379;
        text-align: center;
        margin-top: 10px;
        a {
            color: #727379; 
        }
    }
}

@media screen and (max-width: 1200px){
    .catalog{
        padding: 61px 0 184px 0;
        &__wrapper {
            display: flex;
            justify-content: space-around;
            margin-top: 19px;
        }
    }
}


@media screen and (max-width: 991px){
    .catalog{
        &__title {
            font-size: 37px;
            line-height: 49px;
        }
        &__item {
            width: auto;
            height: auto;
        }
        &__cart {
            position: relative;
            z-index: 20;
            width: 300px;
            height: 430px;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 19px;
            overflow: hidden;
        }
        &__img {
            height: 220px;
        }
        &__product, &__cost {
            font-size: 24px;
            line-height: 34px;
        }
    }
}



@media screen and(max-width: 767px){

}



@media screen and(max-width: 575px){
    .catalog{
        &__title {
            font-size: 31px;
            line-height: 42px;
        }
        &__cart {
            width: 280px;
        }
        &__decor {
            display: none;
            &_1 {
                display: none;
            }
            &_2 {
                display: none;
            }
            &_3 {
                display: none;
            }
            &_4 {
                display: none;
            }
        }
    }
}