.sale {
    position: relative;
    background: url('../img/sale_bg.jpg') center (center/cover) no-repeat;
    min-height: auto;
    padding: 79px 0 26px 0;
    &__carousel {
        .slick-prev, .slick-next {
            border:none;
            background: transparent;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left:0;
            z-index: 1;
        }
        .slick-next {
            left:auto;
            right: 0;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 350px;
        margin-top: 110px;
        margin-left: 100px;
        &_mt{
            margin-top: 105px;
        }
    }
    &__header {
        font-family: 'Marmelad', sans-serif;
        font-weight: normal;
        font-size: 48px;
        line-height: 57px;
        color: #000000;
        text-align: center;
    }
    &__subheader {
        font-family: 'Marmelad', sans-serif;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;
        color: #000000;
        text-align: center;
        margin-top: 5px;
    }
    &__descr {
        font-family: 'Arsenal', sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #4c4c4c;
        margin-top: 25px;
        margin-left: 15px;
    }
    &__img {
        width: 503px;
        height: 450px;
        background: url('../img/бутыль.png') center (center/cover) no-repeat;
        &_2 {
            background: url('../img/помпа.png') center (center/cover) no-repeat;
        }
    }
    &__wave {
        position: absolute;
        display: block;
        margin: 0 auto;
        height: 80px;
        width: 100%;
        right: 0;
        left: 0;
        bottom: -25px;
    }
}

@media screen and (max-width: 1200px){
    .sale {
        min-height: auto;
        padding: 79px 0 26px 0;
        &__carousel {
            .slick-prev, .slick-next {
                top: 50%;
                transform: translateY(-50%);
                left:0;
            }
            .slick-next {
                left:auto;
                right: 0;
            }
        }
        &__wrapper {
            display: flex;
            justify-content: space-between;
        }
        &__header {
            font-size: 48px;
            line-height: 57px;
        }
        &__subheader {
            font-size: 35px;
            line-height: 43px;
            margin-top: 5px;
        }
        &__descr {
            font-size: 20px;
            line-height: 28px;
            margin-top: 25px;
            margin-left: 15px;
        }
    }
}

@media screen and (max-width: 991px){
    .sale{
        padding: 20px 0 65px 0;
        &__header {
            font-size: 38px;
            line-height: 47px;
        }
        &__item{
            width: 245px;
            margin-top: 100px;
            margin-left: 60px;
            &_mt{
                margin-top: 95px;
            }
        }
        &__subheader {
            font-size: 27px;
            line-height: 40px;
            text-align: left;
        }
        &__descr {
            font-size: 16px;
            line-height: 28px;
        }
        &__img {
            width: 375px;
            height: 400px;
        }
    }
}



@media screen and(max-width: 767px){
    .sale{
        &__item{
            margin-left: 5%;
            &_mt{
                margin-top: 85px;
            }
        }
        &__subheader {
            font-size: 21px;
            text-align: center;
        }
        &__descr {
            font-size: 15px;
            line-height: 22px;
        }
        &__carousel {
            .slick-dots{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                z-index: 10;
            }
            .slick-dots li{
                list-style: none;
                margin: 0;
                padding: 0;
                margin: 0 10px;
            }
            .slick-dots button{
                margin: 0;
                padding: 0;
                border:none;
                font-size: 0;
                width: 15px;
                height: 15px;
                background-color: #00AFE9;
                border-radius: 50%;
            }
            .slick-dots li.slick-active button{
                background-color: transparent;
                border: solid 2px #00AFE9;
            }
        }
    }
}



@media screen and(max-width: 575px){
    .sale {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }
        &__item {
            margin-top: 25px;
            &_mt{
                margin-top: 25px;
            }
        }
        &__subheader {
            font-size: 27px;
            line-height: 36px;
        }
        &__descr {
            font-size: 15px;
            line-height: 22px;
            margin-top: 16px;
            margin-left: 0;
            text-align: center;
        }
        &__img {
            position: relative;
            top: -50px;
            width: 320px;
            height: 350px;
            &_2{
                top: -20px;
            }
        }
       
    }
}