.work{
    padding: 75px 0;
    &__title{
        font-family: 'Marmelad', sans-serif;
        font-weight: normal;
        font-size: 48px;
        line-height: 57px;
        color: #000000;
    }
    &__descr{
        font-family: 'Arsenal, sans-serif';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
        color: #000000;
        margin-top: 40px;
    }
    &__timing{
        font-family: 'Arsenal, sans-serif';
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        margin-top: 53px;
    }
    &__weekend{
        font-family: 'Arsenal, sans-serif';
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: #727379;
        margin-top: 15px;
    }
    &__phone{
        &_link{
            display: inline-block;
            font-family: 'Arsenal, sans-serif';
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
            margin-top: 35px;
            &:nth-child(2){
                margin-left: 15px;
            }
        }
    }
    &__img{
        display: block;
        width: 133px;
        height: 133px;
        margin-left: 75px;
        margin-top: 45px;
    }
    &__conditions{
        font-family: 'Arsenal, sans-serif';
        font-weight: normal;
        max-width: 500px;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
        margin-top: 45px;
    }
    &__minimum_order{
        font-family: 'Arsenal, sans-serif';
        font-style: italic;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
        color: #000000;
        margin-top: 90px;
    }
}

@media screen and (max-width : 1200px) {
    .work{
        &__title{
            font-size: 47px;
            line-height: 57px;
        }
        &__descr{
            font-size: 22px;
            line-height: 32px;
        }
        &__minimum_order{
            font-size: 22px;
        }
    }
}

@media screen and (max-width : 991px) {
    .work{
        &__title{
            font-size: 40px;
            line-height: 50px;
            text-align: center;
        }
        &__descr{
            font-size: 20px;
            line-height: 30px;
        }
        &__minimum_order{
            font-size: 20px;
            line-height: 30px;
        }
    }
}

@media screen and (max-width : 767px) {
    .work{
        &__title{
            font-size: 40px;
            line-height: 50px;
            text-align: center;
        }
        &__descr{
            font-size: 20px;
            line-height: 30px;
        }
        
    }
}


@media screen and (max-width : 575px) {
    .work{
        &__phone{
            &_link{
                font-size: 16px;
                line-height: 26px;
                &:nth-child(2){
                    margin-left: 15px;
                }
            }
        }
        &__img{
            display: block;
            width: 115px;
            height: 115px;
            margin: 0 auto;
            margin-top: 45px;
        }
    }
}